<form action="/score" data-turbo="false">
  <input type="text" name="guess">
  <input type="submit" value="Ask!">
</form>

<h1 class="text-center">Longuest Word Game</h1>

<div class="grid">
  <% @grid.each do |letter| %>
    <span class="letter"><%= letter %></span>
  <% end  %>
</div>

<div class="answer">
  <form action="/score" method="get" class="">
    <div class="form-group col-md-10">
      <!-- <label for="try">your best shot</label> -->
      <input type="text" class="form-control input-lg" name="your_try" id="try" placeholder="Your best shot">
    </div>
    <button type="submit" class="btn btn-primary btn-lg col-md-2">Submit</button>
  </form>
</div>

<%#= simple_form_for :score, url: score_path do |f| %>
  <%#= f.input :your_try, placeholder: "Your best shot", input_html: { class: 'input-lg' } %>
  <%#= f.button :submit, "Submit", class: 'btn-primary btn-lg' %>
  <%#= f.button :submit, "Custom Button Text", class: "my-button" %>
<%# end %>
